<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="page-header">
				<h3>Novo Pedido</h3>
			</div>
			<form name="formCadastro" class="form-group">
				<div class="col-sm-8">
					<label for="vinho">Selecione um Vinho</label> <select
						class="form-control" ng-model="item.vinho" name="vinho">
					</select>
				</div>
				<div class="col-sm-4">
					<label for="qtde">Quantidade</label> <input type="number"
						class="form-control" ng-model="item.qtde" name="qtde"></input>
				</div>
			</form>
		</div>
	</div>
</div>